body {
    margin: 0;
    padding: 0;

}

.header {
    background-color: #DCDCDC ; 
    height:80px; 
    width: 100%; 
}

.small-square {
    background-color: 	#1E90FF ; 
    height: 50px; 
    width:  50px; 
    margin:  20px; 
    float: left; 

}

.tex-box {
    background-color:white ; 
    width: 100%; 
    padding: 50px;       


}

.text {
    height: 75px; 
    align-content: center; 
    padding: 40px; 
}

.blue-rec {
    background-color: 	#1E90FF ; 
    height:80px; 
    width: 100%; 

}

.sea-green-rec {
    background-color: #7FFFD4; 
    height:80px; 
    width: 100%; 

}

.light-green-rec {
    background-color: #98FB98 ; 
    height:80px; 
    width: 100%; 
}

.yellow-rec {
    background-color: 	#FFFF00; 
    height:80px; 
    width: 100%; 
}
